<div class="jumbotron">
  <h1 class="title">咔嚓</h1>
  <p class="slogan">
  这里是摄影活动ideal征集
  <br>
  你去过的，你听说的，好玩的好拍的
  <br>
  欢迎与我们一同分享
  </p>
  <p class="lead"><a class="btn btn-danger" href="/jobs">马上就Show!</a></p>
</div>

<section id="company">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://i.loli.net/2017/11/19/5a1146eb3265c.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>美食</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://i.loli.net/2017/11/19/5a1146ea96eaf.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>人像</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://i.loli.net/2017/11/19/5a1146eb5dd78.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>人文风景</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
